@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* ===========================NavBar============================= */

header{
    width: 100vw;
    height: 124px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 5px;
}

.topnav{
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10%;
    margin-left: 10%;
    position: relative;
}

.contact{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img{
    height: 123px;
}

.search{
    flex: 0 1 auto;
    margin-left: auto; 
    position: relative;
    display: flex;
    align-items: center;
}

.search input{
    width: 250px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid grey;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    transition: 100ms;
}

.search input:focus{
    outline: none;
    border: 2px solid black;
}

.search i{
    font-size: 20px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.bottomnav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.bottomnav h5{
    position: relative;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.bottomnav h5::after{
    display: block;
    content: '';
    background-color: black;
    position: absolute;
    width: 0;
    height: 2px;
    transition: 100ms ease-in-out;
}

.bottomnav h5:hover::after{
    width: 100%;
}

@media (max-width: 1400px){
    .topnav{
        margin-right: 5%;
        margin-left: 5%;
    }
    .search input{
        width: 200px;
    }
}
@media (max-width: 1000px){
    .search input{
        display: none;
    }
}
@media (max-width: 600px) {
    .topnav{
        height: 80px;     
    }
    .logo img{
        height: 80px;
    }
    .contact{
        gap: 5px;
        font-size: 12px;
    }    
    .bottomnav ul{
        gap: 25px;
    }
    .bottomnav ul h5{
        font-size: 10px;
    }    
}


/* ===========================GRID============================= */

.grid-banner{
    grid-column: span 4;
    width: 100%;
}

.grid-banner img{
    width: 100%;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 20px;
    padding: 20px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.grid-container .grid-item{
    overflow: hidden;
    height: 100%;
}

.grid-container .grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 250ms;
}

.grid-item:hover img{
    transform: scale(1.5);
}

.grid-item:nth-child(2){
    grid-column: span 2;
    grid-row: span 2;
}

@media (max-width: 1290px) {
    .grid-container{
        grid-template-columns: repeat(4, 230px);
    }
}
@media (max-width: 1000px) {
    .grid-container{
        grid-template-columns: repeat(4, 190px);
    }
}
@media (max-width: 800px) {
    .grid-container{
        grid-template-columns: repeat(3, 100px);
    }
    .grid-banner{
        grid-column: span 3;
    }
}

.grid-container .Jacketgrid-item{
    overflow: hidden;
    height: 100%;
}

.grid-container .Jacketgrid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 250ms;
}

.Jacketgrid-item:hover img{
    transform: scale(1.5);
}

/* ===========================Footer Section============================= */

footer{
    height: fit-content;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

footer::before{
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    background-color: black;
    position: relative;
    top: -10px;
}

footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: 'Poppins', sans-serif;
}

footer li{
    opacity: 0.7;
    transition: 100ms;
}

footer .icons i{
    color: #4b4c4d;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 10px;
    width: 24px;
    font-size: 24px;
    text-align: center;
}

footer li:hover{
    opacity: 1;
}

footer a{
    text-decoration: none;
    color: #4b4c4d;
}

footer .links{
    font-size: 20px;
}

footer .links ul{
    gap: 30px;
} 
footer .copyright{
    font-size: 16px;
}

@media (max-width: 650px) {
    footer .links ul{
        font-size: 16px;
        gap: 15px;
    }
    footer .links a{
        width: fit-content;
        white-space: nowrap;
    }
    footer .icons i{
        font-size: 20px;
        width: 20px
    }
    footer .copyright{
        font-size: 12px;
    }
}