@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* ===========================NavBar============================= */

header{
    width: 100vw;
    height: 124px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 5px;
}

.topnav{
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10%;
    margin-left: 10%;
    position: relative;
}

.contact{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img{
    height: 123px;
}

.search{
    flex: 0 1 auto;
    margin-left: auto; 
    position: relative;
    display: flex;
    align-items: center;
}

.search input{
    width: 250px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid grey;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    transition: 100ms;
}

.search input:focus{
    outline: none;
    border: 2px solid black;
}

.search i{
    font-size: 20px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.bottomnav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.bottomnav h5{
    position: relative;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.bottomnav h5::after{
    display: block;
    content: '';
    background-color: black;
    position: absolute;
    width: 0;
    height: 2px;
    transition: 100ms ease-in-out;
}

.bottomnav h5:hover::after{
    width: 100%;
}

@media (max-width: 1400px){
    .topnav{
        margin-right: 5%;
        margin-left: 5%;
    }
    .search input{
        width: 200px;
    }
}
@media (max-width: 1000px){
    .search input{
        display: none;
    }
}
@media (max-width: 600px) {
    .contact{
        gap: 5px;
        font-size: 12px;
    }    
    .bottomnav ul{
        gap: 25px;
    }
    .bottomnav ul h5{
        font-size: 10px;
    }    
}

